#corner{
    position:relative;
    width:275px;
    height:275px;
}

#bg{
    position: absolute;
    right: 0;
    min-width: 100%;
    height:auto;
    z-index: -5;
}

#centerGem{
    display:grid;
    place-content: center;
    align-content: center;
    width:23.5%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#portButton{
    display:grid;
    place-content: center;
    align-content: center;
    width:23.5%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.me{
    text-align: center;
    height:540px;
    opacity: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-100%);
    transition: all 2s;
}

.me.show{
    transform: translateX(0);
    opacity: 1;
}

.bio{
    transform: translateX(-100%);
    opacity: 0;
    transition: all 2s;
    transition-delay: 750ms;
}

.bio.show{
    transform: translateX(0);
    opacity: 1;
}

.pText{
    transform: translateY(-100%);
    transform: scale(0);
    opacity: 0;
    transition: all 2s;
    transition-delay: 250ms;
}

.pText.show{
    transform: translateY(0);
    transform: scale(1.2);
    opacity: 1;
}



.flex-container > section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.flex-container > div {
    font-size: 30px;
    padding: 30px;
}

@font-face{
    font-family: 'Rockwell';
    src:url(fonts/ROCK.TTF) format('truetype');
}

@font-face{
    font-family: 'Runic MT Condensed';
    src:url(fonts/RunicMTCondensed.ttf) format('truetype');
}

p{
    font-family: 'Rockwell', sans-serif;
    text-align: center;
}

h1{
    font-family: 'Runic MT Condensed', sans-serif;
    text-align: center;
}

h2{
    font-family: 'Runic MT Condensed', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Runic MT Condensed', sans-serif;
    text-align: center;
}